@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* ################# Utility Classes ############### */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn {
    border: 1px solid#18A7B9;
    border-radius: 40px 5px;
    font-size: 12px;
    width: 214px;
    height: 64px;
    text-decoration: none;
}

.btn-primary {
    background-color: #18A7B9;
    color: white;
    padding: 10px 40px;
    box-shadow: 0px 15px 10px -15px #18A7B9;

}

.btn-second {
    background-color: white;
    color: #18A7B9;
    padding: 10px 30px;
}

/* ######################### Navbar Styling ####################33 */
.header{
    position: relative;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    margin-top: 35px;
    width: 100%;
    z-index: 1;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo {
    color: #18A7B9;
    font-size: 20px;
    font-weight: 600;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navbar li {
    list-style-type: none;
    font-size: 12px;

}

.navbar a {
    text-decoration: none;
    color: black;
}

/* ############################# Content1 Styling############## */
.header-content {

    display: flex;
    margin: 40px 80px;
}

.content1 {
    width: 40%;
}

.hc-heading {
    font-size: 40px;
    font-weight: bold;
}

.hc-para {
    font-size: 12px;
}

.stats {
    display: flex;
    gap: 20px;
    margin: 40px 0;
    position: relative;

}

.stats .img1 {
    position: absolute;
    bottom: 30px;
    width: 20px;
    z-index: -10;
}

.stats .img2 {
    position: absolute;
    bottom: 30px;
    left: 100px;
    width: 20px;
    z-index: -11;
}

.stats .img3 {
    position: absolute;
    bottom: 30px;
    left: 205px;
    width: 20px;
    z-index: -11;
}

.stats h2 {
    font-size: 22px;
    font-weight: 500;
    z-index: 1;
}

.stats p {
    font-size: 12px;
}

.header-content-image {
    position: absolute;
    height: 500px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
    top: 0;
    right: 30px;
    z-index: -1;
}

.logos {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 150px;
    height: 100px;
    width: 1200px;
    z-index: 1;
    margin: 60px auto;
    align-items: center;
    justify-content: space-around;
}

.logos img {
    width: 80px;
    height: 18px;
}

.rectangle1 {
    position: absolute;
    top: 80px;
    right: 320px;
    z-index: -2;
    width: 150px;

}

.rectangle2 {
    position: absolute;
    top: 450px;
    right: 60px;
    width: 120px;
    z-index: -9;
}

.vector {
    position: absolute;
    top: 360px;
    left: 0px;
    width: 320px;
    z-index: -3;
}

.ellipse1 {
    top: 600px;
    left: 40px;
}

/* ############################# Content2 Styling############## */


.content2 {
    display: flex;
    justify-content: space-between;

}

.content2-heading {
    font-weight: 500;
    font-size: 36px;
    width: 40%;

}

.content2-para {
    width: 40%;
    font-size: 12px;
    margin-bottom: 40px;
}

.content2a {
    align-items: center;
}

.content2-image {
    height: 600px;
    width: 450px;
}

.content2a {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
}

.content2a-stats {
    width: 40%;
    row-gap: 130px;
    position: relative;
}

.content2a-stats h1 {
    font-size: 40px;
    font-weight: 600;
}

.content2a-stats img {
    width: 40px;
}

.content2a-stats p {
    font-size: 12px;
}

.content2a-div1 {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.content2a-div2 {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.content2a-div3 {
    display: flex;
    gap: 30px;
}

.content2a-heading1 {
    position: absolute;
    bottom: 230px;
    left: 10px;
}

.content2a-heading2 {
    position: absolute;
    bottom: 120px;
    left: 10px;
}

.content2a-heading3 {
    position: absolute;
    bottom: 5px;
    left: 15px;
}


/* ############################# Content3 Styling############## */
.section3 {
    margin-bottom: 6rem;
}

.engineers-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
}

.content3 h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content3 .para {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 40px;
}

.engineers-box {
    background-color: white;
    box-shadow: 0px 20px 50px 0px #C6D9E14D;


}

.engineers-box .checked {
    color: #ff9529;
    display: flex;
    justify-content: flex-start;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: large;
}

.engineer-detail {
    padding: 20px 60px;
    justify-content: center;
}

.engineer-photo img {
    width: 120px;
}

.engineer-name {
    font-weight: 500;
    font-size: 16px;
}

.engineer-address {
    font-weight: 500;
    font-size: 10px;
    margin-bottom: 20px;
}

.engineer-number {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
}

.engineer-email {
    font-weight: 500;
    font-size: 12px;
    color: #18A7B9;
    ;

}

.arrow {
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    margin-bottom: 50px;
}

.fa-arrow-right {
    background-color: #18A7B9;
    padding: 10px;
    border-radius: 50%;
    color: white;
}

.fa-arrow-left {
    padding: 10px;
}

/* ############################# Section4 Styling############## */

.section4 {
    position: relative;
    background-image: url("./Images/Message.png");
    text-align: center;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    height: 800px;
    margin-bottom: 5rem;
}

.message {
    width: 80%;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content4-heading {
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
}

.content4-para1 {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.content4-para2 {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

/* ######################## Section 5 Styling ############## */
.contact {
    display: flex;
}

.contact input {
    padding: 1rem 11rem 1rem 1rem;
    border: none;
    background-color: #F9F9F9;
    margin-bottom: 10px;
}

.contact img {
    width: 50%;
}

.contact .contact-us {
    width: 40%;
}

.content5 h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content5 p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;

}

.section5 textarea {
    padding: 1rem 12rem 12rem 1rem;
    font-size: 12px;
    font-weight: 400;
    background-color: #F9F9F9;
    border: none;
    margin-bottom: 30px;
}

/* ######################## Section 6 Styling ############## */
.section6 {
    margin-bottom: 100px;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section6 .section6-intro {
    margin-bottom: 50px;
    width: 400px;
}

.section6 .section6-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section6 .section6-para {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;

}

.blog-content {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-bottom: 100px;
}

.blog1 {
    width: 450px;
    height: 400px;
    background-image: url("./Images/Blog-Img1.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 20px;
    position: relative;

}

.blog2 {
    width: 450px;
    height: 400px;
    background-image: url("./Images/Blog-Img2.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}


.blog-content h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 10px;

}

.blog-content p {
    font-size: 12px;
    font-weight: 400;
    color: white;

}

.blog1 .blog-content1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog2 .blog-content2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section6 .subscribe {
    width: 400px;
    text-align: center;
    padding-bottom: 40px;
}

.subscribe .heading {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.subscribe .para {
    font-size: 12px;
    font-weight: 400;
}

/* ########################### footer styling ################### */

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.footer h2 {
    font-size: 20px;
    color: #18A7B9;
    margin-bottom: 20px;
}

.footer h3 {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer .fa-brands {
    color: #18A7B9;
    font-size: large;
    margin: 10px 5px;
}

.copyright {
    text-align: center;
}



/* ############################### Responsive Design ########################### */

@media (max-width: 500px) {

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 60px;
      
    }

    .navbar-container input[type="checkbox"] {
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        top: 5px;
        left: 5px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 30px;
        background: #fff;
        max-width: 200px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.4s ease-in-out;
        box-shadow: 5px 0 10px 0 #aaa;

    }

    .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 1.5rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translate(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

    .btn {
        font-size: 8px;
        width: 100px;
        height: 32px;
        }
    
    .btn-primary {
        padding: 5px 20px;
    }
    
    .btn-second {
        padding: 5px 10px;
    }
    .navbar .logo {
        font-size: 14px;
    }
    
    .navbar ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    
    .navbar li {
        font-size: 10px;
    
    }
    
    .header-content {
        margin: 0px 20px;
    }
    
    .content1 {
        width: 100%;
        padding: auto 20px;
    }
    
    .hc-heading {
        font-size: 18px;
        font-weight: bold;
    }
    
    .hc-para {
        font-size: 10px;
    }
    
    .stats {
        display: flex;
       justify-content: space-around;
        margin: 10px 10px;
    }
    
    .stats .img1 {
        display: none;
    }
    
    .stats .img2 {
        display: none;
    }
    
    .stats .img3 {
        display: none;
    }
    
    .stats h2 {
        font-size: 14px;
    }
    
    .stats p {
        font-size: 8px;
    }
    
    .header-content-image {
        display: none;
    }
    
    .logos {
        display: flex;
        justify-content: space-around;
        background-color: #FAFAFA;
        border-radius: 150px;
        height: 60px;
        width: 90%;
        margin: 30px 10px;
        align-items: center;
    }
    
    .logos img {
        width: 35px;
        height: 10px;
    }
    
    .rectangle1 {
        display: none;
    
    }
    
    .rectangle2 {
        display: none;
    }
    
    .vector {
        display: none;
    }
    
    /* ############################# Content2 Styling############## */


.content2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.content2-heading {
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;
}

.content2-para {
    font-size: 12px;
    margin-bottom: 10px;
    width: 90%;
}

.content2-image {
    height: 350px;
    width: 100%;
    margin: 30px 0;
    display: none;
}

.content2a {
    display: flex;
    flex-direction: column;
   align-items: center;
    margin-bottom: 50px;
}
.content2a-stats{
    width: 90%;
}

.content2a-stats h1 {
    display: none;
}
.content2a-stats img {
display: none;
}

.content2a-stats p {
    font-size: 12px;
}
.content2a-div1 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content2a-div2 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content2a-div3 {
    display: flex;
    gap: 10px;
}

/* ############################# Content3 Styling############## */
.section3 {
    margin-bottom: 6rem;
}

.engineers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
}

.content3 h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content3 .para {
    font-size: 10px;
    margin-bottom: 40px;
}

.engineers-box {
    margin-bottom: 20px;


}

.engineers-box .checked {
    color: #ff9529;
    display: flex;
    justify-content: flex-start;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: small;
}

.engineer-detail {
    padding: 10px 20px;
    text-align: center;
    
}

.engineer-photo img {
    width: 100px;
}

.engineer-name {
    font-size: 12px;
}

.engineer-address {
    font-size: 10px;
    margin-bottom: 20px;
}

.engineer-number {
    font-size: 12px;
    margin-bottom: 10px;
}

.engineer-email {
    font-size: 10px;

}


.fa-arrow-right {
    padding: 10px;}

.fa-arrow-left {
    padding: 10px;
}

/* ############################# Section4 Styling############## */

.section4 {
    height: 600px;
    width: 100%;
    margin-bottom: 5rem;
}

.section4 .message{
    width: 90%;
    padding: 0 10px;
}
.content4-heading {
    font-size: 16px;
    margin-bottom: 30px;
}

.content4-para1 {
    font-size: 10px;
    margin-bottom: 10px;
}

.content4-para2 {
    font-size: 10px;
}

/* ######################## Section 5 Styling ############## */
.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contact .contact-us {
    width: 100%;
}
.contact input {
    margin-bottom: 10px;
    width: 100%;
}

.content5 h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.content5 p {
    font-size: 10px;
    margin-bottom: 30px;
    text-align: center;

}

.section5 textarea {
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
}
.contact img{
    height: 250px;
    width: 100%;
}

/* ######################## Section 6 Styling ############## */
.section6 {
    margin-bottom: 50px;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section6 .section6-intro {
    margin-bottom: 50px;
    width: 100%;
}

.section6 .section6-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.section6 .section6-para {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;

}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;
    width: 100%;
}

.blog-content .blog-content1, .blog-content .blog-content2{
    width: 90%;
}
.blog-content h2 {
    font-size: 16px;
    padding-bottom: 10px;

}

.blog-content p {
    font-size: 10px;
}

.section6 .subscribe {
    padding-bottom: 10px;
    width: 90%;
}
.blog1 {
    width: 100%;
    height: 300px;
}

.blog2 {
    width: 100%;
    height: 300px;
}

.subscribe .heading {
    font-size: 18px;
    padding: 5px 5px;
}

.subscribe .para {
    font-size: 10px;
    padding: 0 10px;
}


/* ########################### footer styling ################### */

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}

.footer h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 12px;
}

.footer p {
    font-size: 10px;
    margin-bottom: 5px;
}

.footer .fa-brands {
    font-size: small;
    margin: 2px 1px;
}
.footer .input{
    border: none;
    width: 70%;
    height: 15px;
}
}



/* #################################### Responsive design for 501 px to 800px #################################### */

@media(min-width:501px) and (max-width:800px)
{

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 60px;
      
    }

    .navbar-container input[type="checkbox"] {
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        top: 5px;
        left: 5px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 30px;
        background: #fff;
        max-width: 200px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.4s ease-in-out;
        box-shadow: 5px 0 10px 0 #aaa;

    }

    .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translate(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

    .btn {
        font-size: 12px;
        width: 120px;
        height: 40px;
        }
    
    .btn-primary {
        padding: 7px 20px;
    }
    
    .btn-second {
        padding: 7px 10px;
    }
    .navbar .logo {
        font-size: 18px;
    }
    
    .navbar ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    
    .navbar li {
        font-size: 12px;
    
    }
    
    .header-content {
        margin: 0px 20px;
    }
    
    .content1 {
        width: 100%;
        padding: auto 20px;
    }
    
    .hc-heading {
        font-size: 20px;
        font-weight: bold;
    }
    
    .hc-para {
        font-size: 12px;
    }
    
    .stats {
        display: flex;
       justify-content: space-around;
        margin: 10px 10px;
    }
    
    .stats .img1 {
        display: none;
    }
    
    .stats .img2 {
        display: none;
    }
    
    .stats .img3 {
        display: none;
    }
    
    .stats h2 {
        font-size: 18px;
    }
    
    .stats p {
        font-size: 12px;
    }
    
    .header-content-image {
        display: none;
    }
    
    .logos {
        display: flex;
        justify-content: space-around;
        background-color: #FAFAFA;
        border-radius: 150px;
        height: 60px;
        width: 90%;
        margin: 30px 10px;
        align-items: center;
    }
    
    .logos img {
        width: 50px;
        height: 15px;
    }
    
    .rectangle1 {
        display: none;
    
    }
    
    .rectangle2 {
        display: none;
    }
    
    .vector {
        display: none;
    }
    
    /* ############################# Content2 Styling############## */


.content2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.content2-heading {
    font-size: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.content2-para {
    font-size: 12px;
    margin-bottom: 10px;
    width: 90%;
}

.content2-image {
    height: 500px;
    width: 100%;
    margin: 30px 0;
}

.content2a {
    display: flex;
    flex-direction: column;
   align-items: center;
    margin-bottom: 50px;
}
.content2a-stats{
    width: 90%;
}

.content2a-stats h1 {
    display: none;
}
.content2a-stats img {
display: none;
}

.content2a-stats p {
    font-size: 12px;
}
.content2a-div1 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content2a-div2 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content2a-div3 {
    display: flex;
    gap: 10px;
}

/* ############################# Content3 Styling############## */
.section3 {
    margin-bottom: 6rem;
}

.engineers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
}

.content3 h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content3 .para {
    font-size: 12px;
    margin-bottom: 40px;
}

.engineers-box {
    margin-bottom: 20px;


}

.engineers-box .checked {
    color: #ff9529;
    display: flex;
    justify-content: flex-start;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: large;
}

.engineer-detail {
    display: flex;
    gap: 70px;
    padding: 10px 10px;
    text-align: center;
    
}

.engineer-photo img {
    width: 130px;
}

.engineer-name {
    font-size: 16px;
}

.engineer-address {
    font-size: 12px;
    margin-bottom: 20px;
}

.engineer-number {
    font-size: 14px;
    margin-bottom: 10px;
}

.engineer-email {
    font-size: 12px;

}


.fa-arrow-right {
    padding: 10px;}

.fa-arrow-left {
    padding: 10px;
}

/* ############################# Section4 Styling############## */

.section4 {
    height: 600px;
    width: 100%;
    margin-bottom: 5rem;
}

.section4 .message{
    width: 90%;
    padding: 0 10px;
}
.content4-heading {
    font-size: 20px;
    margin-bottom: 30px;
}

.content4-para1 {
    font-size: 12px;
    margin-bottom: 10px;
}

.content4-para2 {
    font-size: 12px;
}

/* ######################## Section 5 Styling ############## */
.contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contact .contact-us {
    width: 60%;
    align-items: center;
}
.contact input {
    margin-bottom: 10px;
    width: 100%;
}

.content5 h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.content5 p {
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;

}

.section5 textarea {
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
}
.contact img{
    height: 350px;
    width: 100%;
}

/* ######################## Section 6 Styling ############## */
.section6 {
    margin-bottom: 50px;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section6 .section6-intro {
    margin-bottom: 50px;
    width: 100%;
}

.section6 .section6-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.section6 .section6-para {
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;

}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;
    width: 100%;
}

.blog-content .blog-content1, .blog-content .blog-content2{
    width: 90%;
    text-align: center;
}
.blog-content h2 {
    font-size: 18px;
    padding-bottom: 10px;

}

.blog-content p {
    font-size: 12px;
}

.section6 .subscribe {
    padding-bottom: 10px;
    width: 90%;
}
.blog1 {
    width: 100%;
    height: 350px;
}

.blog2 {
    width: 100%;
    height: 350px;
}

.subscribe .heading {
    font-size: 20px;
    padding: 5px 5px;
}

.subscribe .para {
    font-size: 12px;
    padding: 0 10px;
}


/* ########################### footer styling ################### */

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}

.footer h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer p {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer .fa-brands {
    font-size: small;
    margin: 2px 1px;
}
.footer .input{
    border: none;
    width: 70%;
    height: 15px;
}
}



/* #################################### Responsive design for 801 px to 1085px #################################### */

@media(min-width:801px) and (max-width:1085px)
{

    .navbar{
        margin-bottom: 35px;
    }
    

    .container {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }

    .btn {
        font-size: 12px;
        width: 120px;
        height: 40px;
        }
    
    .btn-primary {
        padding: 7px 20px;
    }
    
    .btn-second {
        padding: 7px 10px;
    }
    .navbar .logo {
        font-size: 24px;
    }
    
    .navbar ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    
    .navbar li {
        font-size: 14px;
    
    }
    
    .header-content {
        margin: 0px 20px;
    }
    
    .content1 {
        width: 50%;
        padding: auto 20px;
        margin-bottom: 120px;
    }
    
    .hc-heading {
        font-size: 28px;
        font-weight: bold;
    }
    
    .hc-para {
        font-size: 14px;
    }
    
    .stats {
        display: flex;
       justify-content: space-around;
        margin: 10px 10px;
    }
    
    .stats .img1 {
        display: none;
    }
    
    .stats .img2 {
        display: none;
    }
    
    .stats .img3 {
        display: none;
    }
    
    .stats h2 {
        font-size: 20px;
    }
    
    .stats p {
        font-size: 14px;
    }
    
    .header-content-image {
        width: 40%;
    }
    
    .logos {
        display: flex;
        justify-content: space-around;
        background-color: #FAFAFA;
        border-radius: 150px;
        height: 60px;
        width: 90%;
        margin: 30px 10px;
        align-items: center;
    }
    
    .logos img {
        width: 70px;
        height: 20px;
    }
    
    .rectangle1 {
        display: none;
    
    }
    
    .rectangle2 {
        display: none;
    }
    
    .vector {
        display: none;
    }
    
    /* ############################# Content2 Styling############## */


.content2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.content2-heading {
    font-size: 24px;
    margin-bottom: 20px;
    width: 90%;
}

.content2-para {
    font-size: 14px;
    margin-bottom: 10px;
    width: 90%;
}

.content2-image {
    height: 500px;
    width: 100%;
    margin: 30px 0;
   
}

.content2a {
    display: flex;
    flex-direction: row;
   align-items: center;
    margin-bottom: 50px;
}
.content2a-stats{
    width: 50%;
}

.content2a-stats h1 {
    display: none;
}
.content2a-stats img {
display: none;
}

.content2a-stats p {
    font-size: 14px;
}
.content2a-div1 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content2a-div2 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content2a-div3 {
    display: flex;
    gap: 10px;
}

/* ############################# Content3 Styling############## */
.section3 {
    margin-bottom: 6rem;
}

.engineers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
}

.content3 h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content3 .para {
    font-size: 14px;
    margin-bottom: 40px;
}

.engineers-box {
    margin-bottom: 20px;


}

.engineers-box .checked {
    color: #ff9529;
    display: flex;
    justify-content: flex-start;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: large;
}

.engineer-detail {
    display: flex;
    gap: 70px;
    padding: 10px 10px;
    text-align: center;
    
}

.engineer-photo img {
    width: 150px;
}

.engineer-name {
    font-size: 16px;
}

.engineer-address {
    font-size: 12px;
    margin-bottom: 20px;
}

.engineer-number {
    font-size: 14px;
    margin-bottom: 10px;
}

.engineer-email {
    font-size: 12px;

}


.fa-arrow-right {
    padding: 10px;}

.fa-arrow-left {
    padding: 10px;
}

/* ############################# Section4 Styling############## */

.section4 {
    height: 600px;
    width: 100%;
    margin-bottom: 5rem;
}

.section4 .message{
    width: 90%;
    padding: 0 10px;
}
.content4-heading {
    font-size: 20px;
    margin-bottom: 30px;
}

.content4-para1 {
    font-size: 12px;
    margin-bottom: 10px;
}

.content4-para2 {
    font-size: 12px;
}

/* ######################## Section 5 Styling ############## */
.contact {
    display: flex;
    gap: 50px;
}
.contact .contact-us {
  width: 40%;
}
.contact input {
    margin-bottom: 10px;
    width: 100%;
}

.content5 h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.content5 p {
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;

}

.section5 textarea {
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
}
.contact img{
    height: 350px;
}

/* ######################## Section 6 Styling ############## */
.section6 {
    margin-bottom: 50px;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section6 .section6-intro {
    margin-bottom: 50px;
    width: 100%;
}

.section6 .section6-heading {
    font-size: 24px;
    margin-bottom: 10px;
}

.section6 .section6-para {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;

}

.blog-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
    width: 100%;
}

.blog-content .blog-content1, .blog-content .blog-content2{
    width: 90%;
    text-align: center;
}
.blog-content h2 {
    font-size: 18px;
    padding-bottom: 10px;

}

.blog-content p {
    font-size: 12px;
}

.section6 .subscribe {
    padding-bottom: 10px;
    width: 90%;
}
.blog1 {
    width: 50%;
    height: 350px;
}

.blog2 {
    width: 50%;
    height: 350px;
}

.subscribe .heading {
    font-size: 24px;
    padding: 5px 5px;
}

.subscribe .para {
    font-size: 14px;
    padding: 0 10px;
}


/* ########################### footer styling ################### */

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}

.footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer p {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer .fa-brands {
    font-size: large;
    margin: 2px 1px;
}
.footer .input{
    border: none;
    width: 70%;
    height: 15px;
}
}